<div class="container">
    <div class="row text-center ">
        <div class="col-md-12">
            <h1>General FAQs</h1>
        </div>
    </div>

    <div class="row  pad-top">
        <!--<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">-->



        <h3 >General Questions about Mealshare </h3>
        <div ng-init="accordion=1">
            <h3 class="accordion" ng-class="{active:accordion==1}">
                <a href ng-click="accordion = 1">What is Mealshare.com?</a>
            </h3>
            <p class="accordion-content" ng-show="accordion==1">Mealshare.com provides a platform to the users to share their meals for everyone at avery nominal price.
                Users can search meals nearby area anytime as per their preferences.</p>

            <h3 class="accordion" ng-class="{active:accordion==2}">
                <a href ng-click="accordion = 2">Why Mealshare?</a>
            </h3>
            <p class="accordion-content" ng-show="accordion==2">  Mealshare bridges the gap between the people and brings people closer.
                </p>

            <h3 class="accordion" ng-class="{active:accordion==3}">
                <a href ng-click="accordion = 3">Where is Mealshare available?</a>
            </h3>
            <p class="accordion-content" ng-show="accordion==3">  Mealshare is available anywhere with an internet connection.</p>


        <h3 class="accordion" ng-class="{active:accordion==4}">
            <a href ng-click="accordion = 4">How to use Mealshare.com?</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==4">    Mealshare is very simple and straight forward to use.You can search the dishes in your
            area and place order online.You can pick the meals when they are ready.In order to
            sell a meal simply post a meal and share its information.</p>



    <h3> Questions about Buying a  Meal </h3>

         <!--<div ng-init="accordion=5">-->
        <h3 class="accordion" ng-class="{active:accordion==5}">
            <a href ng-click="accordion =5">When can I buy the meals?</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==5"> Anytime, as per availability of the meals.</p>

        <h3 class="accordion" ng-class="{active:accordion==6}">
            <a href ng-click="accordion = 6">How many meals can I buy?</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==6">You can buy any number of meals based on their availability.
        </p>

        <h3 class="accordion" ng-class="{active:accordion==7}">
            <a href ng-click="accordion = 7">Who is the chef?</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==7">   Anyone , who loves to cooking.Mealshare helps out numerous chefs(home-makers) at homes who cook
            amazingly food to share  their food using their unique food recipes.</p>


    <h3 class="accordion" ng-class="{active:accordion==8}">
        <a href ng-click="accordion = 8">How to pay for the meal?</a>
    </h3>
    <p class="accordion-content" ng-show="accordion==8"> We have used the simplest method of payment Paypal for processing payments.  You can create
        account with paypal and pay for the meal.</p>

    <h3 class="accordion" ng-class="{active:accordion==9}">
        <a href ng-click="accordion = 9">I am allergic to certain foods. How can I check the ingredients?</a>
    </h3>
    <p class="accordion-content" ng-show="accordion==9"> The chefs will be post the ingredients as well as allergen info for the dish. Please check ingredients carefully before placing an order.</p>

    <h3 class="accordion" ng-class="{active:accordion==10}">
        <a href ng-click="accordion = 10">How will I know about the quality of my meal?</a>
    </h3>
    <p class="accordion-content" ng-show="accordion==10">  We expect all the home-chefs to perepare food in clean and hygenic environment.We request home-chefs to follow
        http://homesafety.org standards.</p>

<!--</div>-->
  <h3> Questions about Donating a  Meal </h3>

         <!--<div ng-init="accordion=5">-->
        <h3 class="accordion" ng-class="{active:accordion==11}">
            <a href ng-click="accordion =11">How can I donate the meals?</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==11"> You can donate your food by buying  a meal from MealShare.Also You can share extra food made at your home with the organizations that paricipate with Mealshare</p>

        <h3 class="accordion" ng-class="{active:accordion==12}">
            <a href ng-click="accordion = 12">How many meals can I donate?</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==12">As many as you want based on their availability
        </p>

        <h3 class="accordion" ng-class="{active:accordion==13}">
            <a href ng-click="accordion = 13">What  kinds organizations will take the donate meals?</a>
        </h3>
        <p class="accordion-content" ng-show="accordion==13">   THere are few organizations that we have listed. You can choose any of them. They are local organizations</p>



      
      

</div>

</div>




